@import "../../assets/style/ultilitarios.scss";
@import "../../assets//style/BreakPoints.scss";

.tweet {
  display: flex;
  align-items: start;
  padding: 1rem 0.632rem;
  border-bottom: 1px solid #ebeef0;

  &__photo img {
    margin-right: 0.832rem;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
  }

  &__texts {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;

    &-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 1rem;

      div {
        display: flex;
        align-items: center;
        gap: 5px;
      
        span {
          font-size: 0.725rem;
          color: #89a2b8;
        }

        .tweet__texts-header-time {
          display: flex;
          align-items: center;
          gap: 5px;

          &::before {
            content: "";
            display: block;
            width: 4px;
            height: 4px;
            background: #89a2b8;
            border-radius: 50%;
            margin-left: 5px;
          }
        }
      }
    }
    &-content {
      line-height: 1.25;
      word-break: break-all;
      padding-right: 1rem;
    }
    &-interaction {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin-top: 0.625rem;
      &-item {
        display: flex;
        align-items: center;
        gap: 0.525rem;
        cursor: pointer;
        svg {
          width: 1.2rem;
          height: 1.2rem;
        }
        &:hover {
          color: $twitter-blue;
        }
      }
    }
    @include sm{
      &-interaction{
        gap: 3.5rem;
      }
    }
    @include lg{
      &-interaction{
        gap: 6rem;
      }
    }
  }
}
