@import "../../assets/style/ultilitarios.scss";

.timeline__header {
  padding: 1.5rem 0.632rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 700;
  border-bottom: 1px solid #ebeef0;
  svg {
    width: 1.5rem;
    height: 1.5rem;
    color: $twitter-blue;
  }
}

