@import "../../style/ultilitarios.scss";

.newTweet__form {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.newTweet__form label {
  display: flex;
  gap: 0.75rem;
}
.newTweet__form label img {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}
.newTweet__form label textarea {
  flex: 1;
  border: 0;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0.75rem;
  resize: none;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #5b7083;
  }
}
.newTweet__form button[type="submit"] {
  margin-left: auto;
  @include TweetButton(auto, 1rem, 0.75rem);
   svg {
    width: 1.5rem;
    height: 1.5rem;
    display: none;
  }
}

@include devaice(780px) {
  .newTweet__form {
    padding: 1.5rem 0.75rem;
  }
  .newTweet__form label textarea {
    font-size: 1rem;
  }

  .newTweet__form button[type="submit"] {
    @include TweetButton(auto, 1rem, 0.75rem);
    span {
      display: none;
    }
    svg {
      display: block;
    }
  }
}
