@import "../../assets/style/ultilitarios.scss";
@import "../../assets/style/BreakPoints.scss";

.sidebar {
  padding: 1.5rem 0rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  span{
    display: none;
  }
  .logo {
    width: 2rem;
    height: 2rem;
  }
  .main__navigation {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .main__navigation a {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 1.25rem;
    font-weight: 700;
    &.active {
      color: $twitter-blue;
    }
  }
  .main__navigation a svg {
    width: 2rem;
    height: 2rem;
  }
  .new__tweet {
    @include TweetButton(100%, 1.25rem);
    display: flex;
    align-items: center;
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  @include md {
    padding: 1.5rem 1.25rem;
    align-items: start;
    span{
      display: initial;
    }
    .new__tweet {
      width: 100%;
      display: grid;
      align-items: center;
      svg {
       display: none;
      }
    }

  }
}


