*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #000;
  -webkit-font-smoothing: antialised;
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
}

body, input, textarea, button{
  font: 400 1rem Roboto, sans-serif;
}

button{
  cursor: pointer;
  border: 0;
  background: transparent;
}

a{
  text-decoration: none;
  color: inherit;
}

input{
  border: 0;
  background: transparent;
}
