*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #000;
  -webkit-font-smoothing: antialised
}

body, input, textarea, button{
  font: 400 1rem Roboto, sans-serif;
}

button{
  cursor: pointer;
  border: 0;
}

a{
  text-decoration: none;
  color: inherit;
}


