@import "../assets//style/ultilitarios.scss";
@import "../assets/style/BreakPoints.scss";
.layout{
  margin: 0 auto;
  max-width: 1280px;
  height: 100%;

 display: flex;
 justify-content: center;


  &__content {
    width: min(601px, 100%);

    border-left: 1px solid #ebeef0;
    border-right: 1px solid #ebeef0;
    
  }
  .sidebar{
    width: 300px;
    display: none;
  }
  
}

@include lg{
  .sidebar{
    display: initial !important;
  }
}